/* -------------------------------- */
/* Global Styles */
/* -------------------------------- */
h2 {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

p {
	line-height: 22px;
}

body {
	background-image: url('../img/bench.jpg');
	background-size: 100% 100%;
}

/* -------------------------------- */
/* Shell/Container */
/* -------------------------------- */
.shell {
	margin-top: 100px;
	width: 84%;
	margin-left: auto;
	margin-right: auto;
}


.title .name {
	margin-bottom: 0;	
}

.main {
	width: 100%;
	margin-bottom: 60px;
}

.main nav li {
	width: 20%;
	display: inline-block;
	height: 70px;
	line-height: 70px;
	font-size: 1.1em;
}

/* -------------------------------- */
/* Feed */
/* -------------------------------- */

.feed {
	width: 30%;
	height: 760px;
	float: left;
}

/* -------------------------------- */
/* Project */
/* -------------------------------- */
.project {
	display: inline-block;
	width: 35%;
	vertical-align: top;
	height: 300px;
}

.project .title {
	display: inline-block;
	margin-bottom: 8px;
}

.project .image {
	width: 130px;
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
}

.project .image img {
	width: 130px;
}

.project .description {
	padding: 22px;
	vertical-align: top;	
}

.project .description p:first-of-type {
	margin-top: 0;
}

/* -------------------------------- */
/* Featured Project */
/* -------------------------------- */
.project.featured {
	width: 70%;
	min-height: 380px;
	height: auto;
}

.project.featured .image.featured {
	width: 225px;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}

.project.featured .image.featured img {
	width: 225px;
}

/* -------------------------------- */
/* Links */
/* -------------------------------- */

.links {
	display: inline-block;
	width: 70%;
	height: 80px;
}
