.shell {
	width: 400px;
	height: 300px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -150px;
}

.title .name {
	font-size: 3em;
	margin: 0;
}

.main {
	padding: 15px;
	font-size: 1.2em;
}