/* -------------------------------- */
/* Global Styles */
/* -------------------------------- */
h2 {
	margin: 0;
	padding: 0;
	font-size: 2.5em;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1.8em;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

p {
	line-height: 22px;
}

body {
	background-image: url('../img/bench.jpg');
	background-size: 2000px;
}

/* -------------------------------- */
/* Shell/Container */
/* -------------------------------- */
.shell {
	width: 1000px;
	margin: 100px auto;
}


.title .name {
	margin-bottom: 0;	
}

.main {
	width: 100%;
	margin-bottom: 60px;
}

.navigation li {
	width: 20%;
	display: inline-block;
	height: 70px;
	line-height: 70px;
	font-size: 1.1em;
}

/* -------------------------------- */
/* Feed */
/* -------------------------------- */

.feed {
	width: 30%;
	height: 760px;
	float: left;
}

.feed .updates {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(187, 187, 187, 0.8);
}

.feed ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.post {
	width: 100%;
	margin-bottom: 3px;
	background-color: #BBB;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(187, 187, 187, 0.8);
}

.post .logo {
	width: 40px;
	height: 40px;
	background-color: blue;
	display: inline-block;
	float: left;
	margin-left: 6px;
	margin-right: 6px;
}

.post p {
	white-space: nowrap;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 10px;
}

/* -------------------------------- */
/* Project */
/* -------------------------------- */
.project {
	display: inline-block;
	width: 349px;
	vertical-align: top;
	height: 350px;
	overflow: scroll;
}

.project.featured + .project {
	border-right: solid 2px black;
}

.project .title {
	display: inline-block;
	margin-bottom: 8px;
}

.project .image {
	width: 130px;
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
}

.project .image img {
	width: 130px;
}

.project .description {
	padding: 22px;
	vertical-align: top;	
}

.project .description p:first-of-type {
	margin-top: 0;
}

.project .description p:last-of-type {
	margin-bottom: 0;
}

/* -------------------------------- */
/* Featured Project */
/* -------------------------------- */
.project.featured {
	width: 70%;
	min-height: 380px;
	height: auto;
	border-bottom: solid 2px black;
	border-right: none;
}

.project.featured .image.featured {
	width: 225px;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-left: 0;
}

.project.featured .image.featured img {
	width: 225px;
}

/* -------------------------------- */
/* Links */
/* -------------------------------- */

.links {
	display: inline-block;
	width: 100%;
	height: 120px;
	background-color: red;
}


