/**
 * Adobe Kuler Colors
 * #D8CAA8 - Tan
 * #5C832F - Light Green
 * #284907 - Dark Green
 * #382513 - Brown
 * #363942 - Dark Gray
 */

/** 
 * Adobue Kuler Colors v2
 * #BDDFB3 
 * #009D57
 * #2C372E
 * #0F2925
 * #465F3F
 */

body {
	background-color: white;
}

.title {
	background-color: #EEE;
}

.main nav li {
	background-color: #CCC;
	text-align: center;
}

.main nav li:hover {
	background-color: #FCFCFC;
	cursor: pointer;
}


.project {
	background-color: white;
}


.project .title {
	background-color: transparent;	
}

.image {
	background-color: white;
}
