/**
 * Adobe Kuler Colors
 * #D8CAA8 - Tan
 * #5C832F - Light Green
 * #284907 - Dark Green
 * #382513 - Brown
 * #363942 - Dark Gray
 */

/** 
 * Adobue Kuler Colors v2
 * #BDDFB3 
 * #009D57
 * #2C372E
 * #0F2925
 * #465F3F
 */

body {
	background-color: white;
}

.title {
	background-color: #EEE;
}

.main nav li {
	background-color: #CCC;
	text-align: center;
}

.main nav li:hover {
	background-color: #FCFCFC;
	cursor: pointer;
}

.feed {
	background-color: #BBB;
	background-color: rgba(187, 187, 187, 0.8);
}

.project {
	background: #a90329; /* Old browsers */
background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to right,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
}

.project.featured {
	background-color: red;
}


.project .title {
	background-color: transparent;	
}

.image {
	background-color: white;
}
