body {
    font-size: 1.3em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    background-color: #CCC;
}

#main header {
    text-align: center;
    font-size: 4em;
}

#main nav {
    text-align: center;
    border-bottom: none;
}

#main nav a {
    display: inline-block;
    width: 18%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 2px;
    margin-right: 2px;
}
