<!DOCTYPE>
    <head>
			<meta charset="utf-8">
			<title>{{{site-title}}}</title>
			<meta name="viewport" content="width=device-width">
			{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}} 
			{{#javascript_bundle}}/js/all.js{{/javascript_bundle}}
    </head>

	<body>
		<!-- START: shell -->
		<div id="shell">
			<!-- START: main -->
			<div id="main">
				<!-- START: header/nav -->
				<header>turtles.io</header><nav><ul><a href="/"><li>Blog</li></a><a href="/turtles.html"><li>Turtles</li></a><a href="/about.html"><li>Author</li></a><a href="/links.html"><li>Links</li></a><a href="/iaq.html"><li>IAQ</li></a></ul></nav>
				<!-- END: header/nav -->
