@media screen and (max-width: 480px) {
    body {
        min-width: 285px;
    }
    
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        background-color: #CCC;
    }

    #main header {
        display: inline-block;
        width: 50%;
    }

    #main nav {
        border-bottom: none;
        display: inline-block;
        cursor: pointer;
        z-index: 2;
        background: url('../img/menu-retina.png');
        min-width: 38px;
        height: 30px;
        background-repeat: no-repeat;
        text-align: right;
        width: 45%;
        margin-right: 5%;
        background-position: right;
    }

    #main nav a {
        display: block;
        z-index: 1;
    }

    #main nav ul {
        display: inline-block;
        padding: 0px;
        display: none;
        list-style-type: none;
        margin-top: 40px;
    }

    #main nav ul li {
        background-color: white;    
    }

}